In [ ]:
# Do not make any changes in this cell
# Simply execute it and move on

import pandas as pd  
import numpy as np 
import matplotlib.pyplot as plt
import json
ans = [None]*8

In [ ]:
#Import the dataset and define the feature as well as the target datasets / columns  
dataset = pd.read_csv('heart.csv')  
#We drop the 'trestbps','chol','thalach','oldpeak' as they have numerical values  
dataset=dataset.drop('trestbps',axis=1) 
dataset=dataset.drop('chol',axis=1) 
dataset=dataset.drop('thalach',axis=1) 
dataset=dataset.drop('oldpeak',axis=1) 
dataset

     age  sex  cp  fbs  restecg  exang  slope  ca  thal  target
0     63    1   3    1        0      0      0   0     1       1
1     37    1   2    0        1      0      0   0     2       1
2     41    0   1    0        0      0      2   0     2       1
3     56    1   1    0        1      0      2   0     2       1
4     57    0   0    0        1      1      2   0     2       1
..   ...  ...  ..  ...      ...    ...    ...  ..   ...     ...
298   57    0   0    0        1      1      1   0     3       0
299   45    1   3    0        1      0      1   0     3       0
300   68    1   0    1        1      0      1   2     3       0
301   57    1   0    0        1      1      1   1     3       0
302   57    0   1    0        0      0      1   1     2       0

[303 rows x 10 columns]

In [ ]:
#these are the meanings of above features in the dataset
'''
age
sex
chest pain type (4 values)
resting blood pressure
serum cholestoral in mg/dl
fasting blood sugar > 120 mg/dl
resting electrocardiographic results (values 0,1,2)
maximum heart rate achieved
exercise induced angina
oldpeak = ST depression induced by exercise relative to rest
the slope of the peak exercise ST segment
number of major vessels (0-3) colored by flourosopy
thal: 3 = normal; 6 = fixed defect; 7 = reversable defect
'''

'\nage\nsex\nchest pain type (4 values)\nresting blood pressure\nserum cholestoral in mg/dl\nfasting blood sugar > 120 mg/dl\nresting electrocardiographic results (values 0,1,2)\nmaximum heart rate achieved\nexercise induced angina\noldpeak = ST depression induced by exercise relative to rest\nthe slope of the peak exercise ST segment\nnumber of major vessels (0-3) colored by flourosopy\nthal: 3 = normal; 6 = fixed defect; 7 = reversable defect\n'

In [ ]:
# divide the age feature  into groups 
# group into age (<30 , range(30,40) , range(40,50) ,  range(50,60) , range(60,70) , >=70 )
#              = [ -1 ,     0        ,     1        ,         2     ,          3   ,   4   ]

for i in range(0,303):
  if(dataset["age"][i]<30):
    dataset["age"][i]=-1
  if(dataset["age"][i] in range(30,40)):
    dataset["age"][i]=0
  if(dataset["age"][i] in range(40,50)):
    dataset["age"][i]=1
  if(dataset["age"][i] in range(50,60)):
    dataset["age"][i]=2
  if(dataset["age"][i] in range(60,70)):
    dataset["age"][i]=3
  if(dataset["age"][i]>=70):
    dataset["age"][i]=4
    
dataset

     age  sex  cp  fbs  restecg  exang  slope  ca  thal  target
0      3    1   3    1        0      0      0   0     1       1
1      0    1   2    0        1      0      0   0     2       1
2      1    0   1    0        0      0      2   0     2       1
3      2    1   1    0        1      0      2   0     2       1
4      2    0   0    0        1      1      2   0     2       1
..   ...  ...  ..  ...      ...    ...    ...  ..   ...     ...
298    2    0   0    0        1      1      1   0     3       0
299    1    1   3    0        1      0      1   0     3       0
300    3    1   0    1        1      0      1   2     3       0
301    2    1   0    0        1      1      1   1     3       0
302    2    0   1    0        0      0      1   1     2       0

[303 rows x 10 columns]

In [ ]:
# QUESTION -1 :- (1mark)
#       Bayes theorm 
#       find the following from the above data set 
#       find P("cp"=1,"thal"=2,"slope"=2 / Y=1) i.e. find the probability of  ( "cp"=1 and "thal"=2 and "slope"=2 ) given that "target"=1
#       assign your answer to ans[-1]

In [ ]:
s=0
p=0
for i in range(303):
  if (dataset["target"][i]==1):
    s=s+1
    if (dataset["cp"][i]==1 and dataset["thal"][i]==2 and dataset["slope"][i]==2):
      p=p+1

print(p/s)

0.1696969696969697

In [ ]:
ans[-1]=p/s

In [ ]:
# QUESTION -2 :- (1mark)
#       Find the prior distribution on the whole above data set , i.e. P(Y=1) and P(Y=0)
#       enter value of P(Y=1) in ans[0]

In [ ]:
# enter your code here
#P(Y)
#Prior distribution

def prior(f):
  a=0
  for k in dataset["target"]:
    if k==0:
      a=a+1
  P_0=a/len(dataset["target"])
  P_1=1-P_0
  if f==0:
    return P_0
  if f==1:
    return P_1

print(prior(0),prior(1))

0.45544554455445546 0.5445544554455446

In [ ]:
# Enter your answer here
ans[0]=0.5445544554455446

In [ ]:
# QUESTION -3:- (3marks)
#         Find the class conditional distribution on the above data set i.e. find P(X/Y)
#         Note: If class conditional probability = 0 assign 0.00000000000000001 (a low value) 
#         find the class cond probs of the feature "slope"= 0,1,2 when "target"=0 i.e. P(X(slope)=i/Y=0) where i=0,1,2
#         Assign the answer to ans[1] in form of a list as [P(X(slope)=0/Y=0) , P(X(slope)=1/Y=0) , P(X(slope)=2/Y=0)]

In [ ]:
#enter your code below
#class conditional distribution
#P(x/y)
def class_cond_prob(feature,x,y):
  a=0
  b=0
  for i in range(len(dataset["target"])):
    if  dataset["target"][i]==y:
      a=a+1
      if (dataset[feature][i]==x ):
        b=b+1
  if b==0 : return 0.00000000000000001
  return (b/a)
    


print(class_cond_prob("slope",0,0),class_cond_prob("slope",1,0),class_cond_prob("slope",2,0))

0.08695652173913043 0.6594202898550725 0.2536231884057971

In [ ]:
# assign your answer here
ans[1]=[0.08695652173913043 ,0.6594202898550725 ,0.2536231884057971]

In [ ]:
# QUESTION - 3 :- (3marks)
#         Find the posterior distribution of the above dataset
#         i.e. Find P(Y/X) 
#         for X={"age":-1,'sex': 0,'cp':0 ,'fbs':1,'restecg':1,'exang':1,'slope':2,'ca':1,'thal':1}
#         find the label value (1 or 0) and also the respective confidence also the value of k in {  P(Y/X)=k*P(X1/Y)*P(X2/Y)*P(X3/Y)*P(X4/Y)......*P(Xn/Y)*P(Y) for n features   }
#         eg: if the answer is Y=0 with confidence =0.89 and k= 2100.8
#             your answer should be ans[2]=[0,0.89,2100.8]

In [ ]:
# posterior distribution
#P(y/x)

def posterior(x_dict):
  pst_1=prior(1)
  pst_0=prior(0)
  for i in x_dict:
    pst_1=pst_1*class_cond_prob(i,x_dict[i],1)
    pst_0=pst_0*class_cond_prob(i,x_dict[i],0)
  a={}
  a[0]=pst_0/(pst_0+pst_1)
  a[1]=pst_1/(pst_0+pst_1)
  a[2]=1/(pst_0+pst_1)
  return a

posterior({"age":-1,'sex': 0,'cp':0 ,'fbs':1,'restecg':1,'exang':1,'slope':2,'ca':1,'thal':1})

#[-1,0,0,1,1,1,2,1,1]

{0: 1.2948231800170634e-14, 1: 0.9999999999999871, 2: 86583642.22453906}

In [ ]:
#enter your answers here
ans[2]=[1,0.9999999999999871,86583642.22453906]

In [ ]:
# Splitting the data for fitting a library naive bayes model from sklearn
# use train_test_split to split the data

from sklearn.model_selection import train_test_split


X= dataset.drop('target', axis=1)
Y=dataset['target']
X=np.array(X)
Y=np.array(Y)


# Split the data into train and test (train-90% and test-10%)
# strictly use (randon_state = 42) in train_test_split ,so that your answer can be evaluated

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.10, random_state=42)

#if splitting is done well , you will have 31 testing points and 272 training points

In [ ]:
# QUESTION - 4 :- (2marks)
#         import the  GaussianNB  model from sklearn and find the no of wrong predictions on the testing set
#         i.e. train and fit the model on the training set and predict the output if the heart disease exists or not 
#         compare the predicted and the testing labels and enter the no.of wrongly predicted lables in ans[3]

In [ ]:
#importing the Gaussian naive bayes classifier model from sklearn

from sklearn.naive_bayes import GaussianNB

#enter your code below

gnb = GaussianNB()
Y_pred = gnb.fit(X_train, Y_train).predict(X_test)
print("Number of mislabeled points out of a total %d points : %d"% (X_test.shape[0], (Y_test != Y_pred).sum()))

Number of mislabeled points out of a total 31 points : 8

In [ ]:
#enter your answers here
ans[3]=8

In [ ]:
ans

[0.5445544554455446,
 [0.08695652173913043, 0.6594202898550725, 0.2536231884057971],
 [1, 0.9999999999999871, 86583642.22453906],
 8,
 None,
 None,
 None,
 0.1696969696969697]

In [ ]:
ans = [item for item in ans]
with open('ans.json', 'w') as f:
    json.dump(ans, f)
! ~/submit

/bin/bash: /root/submit: No such file or directory